<div class="container">
  <div class="row title">
    <h1>FHIR REST Client</h1>
  </div>
  <div class="row">
    <div class="col rest-container">

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typePost">
            <h4 class="mb-0">
              POST
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#createPatient" aria-expanded="false" aria-controls="createPatient">
                createPatient
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="createPatient">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()" [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="createPatientUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('createPatient', 'post')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone">
              <a (click)="showRequest('createPatient')"><h3>Request</h3></a>
              <form [formGroup]="RequestDataForm">
                <textarea rows=10 cols=40 class="form-control" formControlName="createPatientRequest" [hidden]="createPatientRequestHidden"></textarea>
              </form>
            </div>
            <div class="rest-respone" [hidden]="createPatientHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="createPatientResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typePost">
            <h4 class="mb-0">
              POST
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#createAllergyPatient" aria-expanded="false" aria-controls="createAllergyPatient">
                createAllergyPatient
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="createAllergyPatient">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="createAllergyPatientUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('createAllergyPatient', 'post')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone">
              <a (click)="showRequest('createAllergyPatient')"><h3>Request</h3></a>
              <form [formGroup]="RequestDataForm">
                <textarea rows=10 cols=40 class="form-control" formControlName="createAllergyPatientRequest" [hidden]="createAllergyPatientRequestHidden"></textarea>
              </form>
            </div>
            <div class="rest-respone" [hidden]="createAllergyPatientHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="createAllergyPatientResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typePost">
            <h4 class="mb-0">
              POST
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#getBundlePatient" aria-expanded="false" aria-controls="getBundlePatient">
                getBundlePatient
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="getBundlePatient">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="getBundlePatientUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('getBundlePatient', 'post')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone" [hidden]="getBundlePatientHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="getBundlePatientResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typePut">
            <h4 class="mb-0">
              PUT
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#updatePatient" aria-expanded="false" aria-controls="updatePatient">
                updatePatient
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="updatePatient">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="updatePatientUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('updatePatient', 'put')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone">
              <a (click)="showRequest('updatePatient')"><h3>Request</h3></a>
              <form [formGroup]="RequestDataForm">
                <textarea rows=10 cols=40 class="form-control" formControlName="updatePatientRequest" [hidden]="updatePatientRequestHidden"></textarea>
              </form>
            </div>
            <div class="rest-respone" [hidden]="updatePatientHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="updatePatientResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typeGet">
            <h4 class="mb-0">
              GET
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#getBinary" aria-expanded="false" aria-controls="getBinary">
                getBinary
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="getBinary">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="getBinaryUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('getBinary','get')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone" [hidden]="getBinaryHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="getBinaryResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typeGet">
            <h4 class="mb-0">
              GET
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#getBinaryFile" aria-expanded="false" aria-controls="getBinaryFile">
                getBinaryFile
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="getBinaryFile">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="getBinaryFileUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('getBinaryFile','get')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone" [hidden]="getBinaryFileHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="getBinaryFileResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typeGet">
            <h4 class="mb-0">
              GET
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#getAllPatient" aria-expanded="false" aria-controls="getAllPatient">
                getAllPatient
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="getAllPatient">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="getAllPatientUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('getAllPatient','get')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone" [hidden]="getAllPatientHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="getAllPatientResponse"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row card">
        <div class="card-header row pb-0" id="headingOne">
          <div class="col"  id="typeGet">
            <h4 class="mb-0">
              GET
            </h4>
          </div>
          <div class="col-11">
            <h4 class="mb-0">
              <a data-toggle="collapse" href="#getFullPatientView" aria-expanded="false" aria-controls="getFullPatientView">
                getFullPatientView
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="getFullPatientView">
          <div class="card-body input-rest">
            <form (submit)="onSubmit()"  [formGroup]="DataForm">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="getFullPatientViewUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" 
                  (click)="call_api('getFullPatientView','get')">Send</button>
                </span>
              </div>
            </form>
            <div class="rest-respone" [hidden]="getFullPatientViewHidden">
              <h3>Response</h3>
              <pre class="rest-response-body" id="getFullPatientViewResponse"></pre>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <a id="home-btn" href="#" routerLink="/" class="btn btn-outline-success"><span class="glyphicon glyphicon-arrow-left"></span> Home </a>
</div>